/*test6.css*/
body {
    margin: 0px;
    font-size: 0.8em;
}
.container {
    background-color: peachpuff;
    height: 100vh; /*100%는 사용한 문서만큼만 나옴. vh는 윈도우의 브라우저 높이를 다 쓴다.*/
    display: flex;
    /*flex-direction: column; (열 기준)*/
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; 균등공백  */
    /* justify-content: space-between; 양끝 공백없이 균등 */
    /* justify-content: space-evenly; 양끝 공백포함 모두 균등 */
    justify-content: space-evenly;

    /* align-items: center; */
     align-items: baseline; /*글자 위치에 따라서 정렬함.. */
    
    /* align-content: space-between; */
    /* align-content: space-around; */
    align-content: center;
    flex-direction: row; /*기본(행 기준)*/
    flex-wrap: wrap; /*기본*/
    justify-content: flex-start; /*기본*/

}
.item {
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    text-align: center;
}

.item:nth-child(1){
    width: 150px;
    height: 150px;
    line-height: 150px;
}

.item1 {background-color: red;}
.item2 {background-color: orange;}
.item3 {background-color: yellow;}
.item4 {background-color: yellowgreen;}
.item5 {background-color: green;}
.item6 {background-color: skyblue;}
.item7 {background-color: blue;}
.item8 {background-color: navy;}
.item9 {background-color: palevioletred;}
.item10 {background-color: purple;}